header{
  width: 100%;
}

.col-search{
  display: flex;
  align-items: center;
}

.icons{
  display: flex;
  justify-content: center;
  align-content: center;
}

.fs-nav{
  justify-content: center;
}
